  <mat-card fxLayout="column" fxFill>
    <mat-card-header>
      <mat-card-title>Product's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <hr/>
      <app-produto-list [produtos]="produtos$ | async" (actionEmitter)="dispatch($event)">
      </app-produto-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="../../home" color="primary">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </mat-card-actions>
  </mat-card>
